* {
    box-sizing: border-box;
}
  
body {
    font-family: "Open Sans", sans-serif; 
    color: #2D3748;
    margin: 0;
}

a, a:visited {
    color: #ED8936; 
    font-weight: bold;
}

nav, footer {
    font-family: "Montserrat", sans-serif;
    background-color: #718096;
    color: white;
    padding: 10px;
    height: 45px;
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    font-size: 18px;
}

.hamburger {
    float: right;
    padding-right: 5px;
    color: white;
}

.menu {
    display: none;
}

header {
    padding: 75px 0;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.name {
    padding-left: 30px;
}


h1 i {
    color: orange;
}

.headshot {
    margin-right: 30px;
}

.headshot img {
    height: 200px;
    width: auto;
    border-radius: 20px;
}

.project-description i {
    font-size: 30px;
}

.section-title {
    text-align: center;
    font-size: 32px;
    padding-bottom: 20px;
}

section {
    min-height: 200px;
    padding: 30px 0;
    background-color: white;
}

.project {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-bottom: 50px;
}

.project:last-child {
    padding-bottom: 20px;
}

.project-screenshot img {
    height: auto;
    width: 100%;
    border-radius: 20px;
    border: 1px solid black;
}

.project-description li {
    list-style: none;
    line-height: 30px;
}

.project-description {
    padding-left: 0;
}

.project-links .button {
    margin-right: 20px;
}

section:nth-child(even) {
    background-color: #E2E8F0;
}

.contact {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.contact-icon i {
    font-size: 30px;
    color: #718096;
}

.contact-icon i:hover {
    color: #2D3748;
}

.contact-icon + .contact-icon {
    padding-left: 50px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright {
    font-size: 14px;
}

@media screen and (min-width: 480px) {
    .contact-icon i {
        font-size: 50px;
    }
    
    .contact-icon + .contact-icon {
        padding-left: 100px;
    }
}  

@media screen and (min-width:800px) {
    .hamburger {
        display: none;
    }

    .menu {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .menu li {
        margin-right: 30px;
        cursor: pointer;
    }

    .menu li:hover {
        text-decoration: underline;
    }

    header {
        flex-direction: row;
        text-align: left;
        align-items: center;
    }

    .contact-icon + .contact-icon {
        padding-left: 100px;
    }
}

